body{
/*  background: url('<?= WEB_ROOT . "/assests/images/redCloud.png" ?>')*/
  background: url('../assests/images/mvc.png') 0px 0px / 250px 250px repeat;
}

.banner-background {
  background-color: gray;
}
.banner {
  background: url('../assests/images/banner.png') no-repeat;
  background-position: bottom;
  height: 175px;
}

nav {
  border-top: 3px solid #111;
  border-bottom: 3px solid #111;
}

form {
  background-color: #fff;
  border: 1px solid #111;
}
form a {
  color: #fff !important;
}

.form-control:focus, .form-control:hover {
  box-shadow: unset;
  border: 1px solid #111;
}
